@tailwind base;
@tailwind components;
@tailwind utilities;

.wide-load {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}
@font-face {
  font-family: "Publica Play Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Publica Play Regular"),
    url("../fonts/FaceType - PublicaPlay-Regular.woff") format("woff");
}

body,
p,
a,
h1,
h2,
h3,
h4,
h5 {
  @apply font-body;
}

.connected {
  @apply border-b-8 border-dark-green py-4;
  background-color: #efefef;
}

.connected h3 {
  @apply tracking-widest font-thin font-rounded uppercase text-4xl leading-loose;
  color: #877759;
}

.input {
  @apply shadow-sm focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-2 border-gray-300 px-4 py-3;
}

.button {
  @apply bg-dark-green border border-transparent shadow-sm py-3 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500;
}

.hero {
  position: relative;
  right: 0;
}

.hero > div {
  position: unset !important;
  overflow: visible !important;
}

a:not(.no-underline) {
  @apply underline cursor-pointer;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

h1 {
  @apply text-4xl font-medium  md:text-5xl uppercase;

  line-height: 1.25;
}

h3.sub-title {
  @apply text-base font-semibold text-black sm:mt-5 sm:max-w-xl sm:mx-auto md:mt-5 sm:text-lg md:text-2xl lg:mx-0 uppercase;
}

.prose ul {
  @apply list-disc list-inside;
}

.prose ul li:before {
  display: none;
}

.wood.prose {
  @apply text-2xl;
}
.widget-title {
  @apply text-4xl uppercase font-bold pb-8 text-brown;
}
.wood.widget-title {
  @apply text-4xl uppercase font-semibold text-blue-green text-center;
  line-height: 1.25;
}

.wood.prose {
  @apply max-w-6xl !important;
}
.full-text.prose {
  @apply max-w-6xl !important;
}

.full-text.prose h3 {
  @apply text-2xl mt-0;
}

.services {
  background-color: #ebebeb;
}

.services h3 {
  @apply uppercase font-semibold text-xl text-brown;
}

.full-text.widget-title {
  @apply text-3xl uppercase font-semibold text-black pb-4;
  line-height: 1.25;
}

.learn-more.widget-title {
  @apply text-3xl uppercase font-semibold text-brown text-center pb-4;
  line-height: 1.25;
}

.learn-more p {
  @apply uppercase text-brown text-center text-xl;
}
